h1{
    text-align: center;
   
}

.underline{
text-decoration: underline;
}


.bilde{
  display: block;
    margin: 0 auto; 
     border:black 50px solid;
     
}
.body2{
    height: 1350px;
    width: 1000px;
    border:black 2px solid;
    margin: 0 auto;
    
    
}

.body1{
    margin: 0 auto;
    
}

.box1{
    display: inline-block;
    margin-left: 150px;
    
}

.box2{
    display: inline-block;
    margin-left: 150px
}

.box3{
    margin-left: 150px
}
.box4{
    margin-left: 100px;
}